<!DOCTYPE HTML>
<html>

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<head>
    <title>Pokemonlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="margin:15px">
	<h1>Add pokemon</h1>
		<form th:object="${pokemon}" th:action="@{savePokemon}" action="#" method="post">
		  	<label>Name</label>
			<input type="text" id="name" th:field="*{name}" />
		  	<label>Type</label>
			<input type="text" id="type" th:field="*{type}" />
		  	<label>Region</label>
			<input type="text" th:field="*{region}" />
			<label>Trainer</label>
			<select id="trainers" th:field="*{trainer}">
       			<option th:each="trainer: ${trainers}" th:value="${trainer.trainerid}" th:text="${trainer.name} + ' ' + ${trainer.team}"></option>
    		</select>
    		
    		<p th:if="${#fields.hasErrors('type')}">Invalid type - Type must be one of the 18 existing ones:<br>
    		Normal<br>
    		Fire<br>
    		Water<br>
    		Grass<br>
    		Electric<br>
    		Ice<br>
    		Fighting<br>
    		Poison<br>
    		Ground<br>
    		Flying<br>
    		Psychic<br>
    		Bug<br>
    		Rock<br>
    		Ghost<br>
    		Dragon<br>
    		Dark<br>
    		Steel<br>
    		Fairy</p>
			<p th:if="${#fields.hasErrors('region')}">Invalid region - Region must be one of the 8 existing ones:<br>
			Kanto<br>
			Johto<br>
			Hoenn<br>
			Sinnoh<br>
			Unova<br>
			Kalos<br>
			Alola<br>
			Galar<br>
			Paldea</p>
		
			<input type="submit" value="Save"></input>
		</form>
	
	</div>
</body>
</html>
