<!DOCTYPE HTML>
<html>
	
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<head>
    <title>New trainer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
		<p align="right">User: <b sec:authentication="name"></b>, 
        role = <b sec:authentication="principal.authorities"></b></p>
	<div>
	<h1>New trainer information</h1>
	<form action="#" th:object="${newtrainer}" th:action="@{saveTrainer}" method="post">
		<table>
			<tr>
				<td>Name: <input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>				
			</tr>
			<tr>
				<td>Team: <input type="text" th:field="*{team}" /></td>
			</tr>
				
		</table>
		
		<p th:if="${#fields.hasErrors('team')}">Invalid team name: Team name must be Instinct, Valor or Mystique</p>
		
			<input type="submit" value="Save"></input>
		</form>
	
	</div>

</body>
</html>