<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pokemonlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add trainer</h1>
	<div>
		<form th:object="${trainer}" th:action="@{save}" action="#" method="post">
		  	<label for="name">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="trainerlist">Team</label>
			<select id="trainerlist" th:field="*{trainer}" class="form-control">
       			<option th:each="trainer: ${trainers}" th:value="${trainer.trainerid}" th:text="${trainer.team}"></option>
    		</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>