<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />


<head>
    <title>Trainers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
		<p align="right">User: <b sec:authentication="name"></b>, 
        role = <b sec:authentication="principal.authorities"></b></p>
	<h1>Trainers</h1>
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
		    <th>Team</th>
		</tr>  
    	<tr th:each = "trainer : ${trainers}">
    		<td th:text="${trainer.name}"></td>
    		<td th:text="${trainer.team}"></td>
    		<td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deletetrainer/{id}(id=${trainer.trainerid})}">Delete</a></td>
    	</tr>
     </table>
     <a sec:authorize="hasAuthority('ADMIN')" href="/addtrainer" class="btn btn-success">Add new trainer</a>
	 <br><br>
     <a href="/pokemonlist">Return to pokemon listing</a>
     <br><br>
     <a href="/logout"><i>Log out</i></a>
     
</body>
</html>